/*.App {*/
/*  text-align: center;*/
/*}*/

.AppWrapper{
display: grid;
  grid-template-rows: 0.3fr 5fr 2fr;
  grid-template-columns: 1fr 5fr ;
  grid-template-areas: 'h h h'
                       'n m m'
                       'f f f'
;
}

.Header{
  grid-area: h;
  display: flex;
}

.Nav{
  grid-area: n;
  background-color: lightskyblue;
}

.MainContent{
  grid-area: m;
  //background-color: lightskyblue;
}

.Footer{
  grid-area: f;
  /*background-color: lightcyan;*/
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


